@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Comic+Neue:wght@300&family=Doppio+One&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Inter:wght@100;200;300;400;500;600;800&family=Lily+Script+One&family=Mukta:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Glory', sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  height: 918px;
  background: rgba(219, 193, 157, 0.45);
  box-shadow: 12px 12px 8px 0px #D6A570;
  width: 100%
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 539px;
  margin-top: 66px;
}

header nav ul a {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
  width: 100%;
  display: flex;

}

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 299px 69px;
}

.content h1 {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.content p {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  display: flex;

}

#btn1 {
  border: 1px solid #000;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  color: #F3EBDF;
  text-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  line-height: normal;
}

#btn2 {
  border: 1px solid #000;
  background: #F3EBDF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin-left: 24px;

}

.btn a {
  display: flex;
  width: 295px;
  height: 76px;
  margin-top: 143px;
  justify-content: center;
  align-items: center;
}

.coffee {
  width: 755px;
  height: 849px;
}

.cofImg {
  width: 755px;
  height: 849px;
  flex-shrink: 0;

}

.mainContainer {
  background-image: url('./assets/bgMain.svg');
}

.mainContainer h1 {
  text-align: center;
  font-size: 60px;
  color: #BE8E4B;
  text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  margin-top: 103px;
}

.drink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-left: 50px;

}

.drink2 img {
  width: 327px;
  height: 216.936px;
  flex-shrink: 0;
  box-shadow: 0px 10px 10px 5px #BE8E4B;


}

.drink2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 208px;
  height: 54.234px;
  border: 1px solid rgba(125, 76, 51, 0.31);
  background: #DBC19D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #7D4C33;
  text-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 600;
}

.history{
  margin-top: 150px;
  margin-left: 78px;
}

.historyContainer{
  display: flex;
}

.history h1{
  font-size: 65px;
  color: #000;
  font-weight: 600;
}

.history p{
  color: #000;
font-size: 30px;
margin-top: 35px;
font-weight: 400;
display: flex;
width: 647px;
height: 331px;


}


.sacpCafe{
  
  width: 859px;
height: 516px;

}


.logo{
  width: 395.404px;
  height: 396.185px;
  transform: rotate(9.261deg);
  box-shadow: 12px 12px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(190, 142, 75, 0.79);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

footer nav ul{
  display: flex;
}

.social{
  width: 28px;
height: 33px;
}

footer p{
  font-size: 17px;
  color: #1E1E1E;
text-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Doppio One;
}